body {
  color: white !important;
  background: #21314a !important

}
#main-menu {
  display: inline-block;
  float: right;
}

#main-menu ul {
  font-size: 20px;
  padding: 1em;
  list-style-type: none;
}

#logo {
  font-size: 20px;
  padding: 1em;
  display: inline-block;
}

.nav {
  display: block;
}

.SearchBar {
  display: flex;
  justify-content: center;
  padding: 4em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.issue-appear {
  position: relative;
  opacity: 0.01;
  top: 15px;
}

.issue-appear.issue-appear-active {
  opacity: 1;
  top: 0px;
  transition: opacity 1s ease-in, top 1s;

}


.issue-deck {
  list-style-type: none;
}

.issue-card {
  position: relative;
  top: 0px;
  background-color: #192538;
  margin: 3em 1em;
  border-radius: 25px;
  box-shadow: 0 1px 0 #293d5c;
  height: 200px;
  transition: top 500ms ease;
}

.issue-card:hover {
  position: relative;
  top: -5px;
}

.issue-card header {
  background-color: #d75040;
    border-radius: 25px 25px 0 0;
    height: 50px;
    color: white;
}

.issue-card h2 {
  font-size: 1.3em;
  text-align: center;
}