.column {
  border-radius: 10px;
  background-color: transparent;
  top: 0px;
  transition: top 300ms, background-color 800ms;
}
.column:hover {
  top: -10px;
  background-color: #ccc;
}

#main-menu {
  display: inline-block;
  float: right;
}

#main-menu ul {
  font-size: 20px;
  padding: 1em;
  list-style-type: none;
}

#logo {
  font-size: 20px;
  padding: 1em;
  display: inline-block;
}

.nav {
  display: block;
}

.SearchBar {
  display: flex;
  justify-content: center;
  padding: 4em;
}

#search-bar{

  max-width: 400px;
  margin: 0 auto 0;
}