.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
   border-radius: 10px;
  background-color: transparent;
  top: 0px;
  transition: top 300ms, background-color 800ms;
}
.column:hover {
  top: -10px;
  background-color: #ccc;
}